<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Therapy</title>
    <style>
        body {
            font-family: Helvetica, Arial, sans-serif;
            font-size: 2em;
            color: white;
            background-color: black;
        }
    </style>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <ul id="messages"></ul>
    <input id="message_input" autocomplete="off" placeholder="Type a message...">
    <button onclick="sendMessage()">Send</button>

    <script type="text/javascript">
        var socket = io.connect('http://localhost:5000');

        var role = "{{ role }}";  // Flask variable is inserted here

        socket.on('new_message', function(data) {
            if (role === "assistant") {
                var ul = document.getElementById('messages');
                var li = document.createElement('li');
                li.appendChild(document.createTextNode('Bot: ' + data));
                ul.appendChild(li);
            }
        });

        function sendMessage() {
            if (role === "user") {
                var message = document.getElementById('message_input').value;
                socket.emit('new_message', message);

                var ul = document.getElementById('messages');
                var li = document.createElement('li');
                li.appendChild(document.createTextNode('You: ' + message));
                ul.appendChild(li);

                document.getElementById('message_input').value = '';
            }
        }
    </script>
</body>
</html>
